.App {
  background-color: var(--E-LightGray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--Black);
}

header,
footer{
  padding: 2rem;
  text-align: center;
}
