.imagen-rectangulos{
    display: flex;
    position: relative;
}

img{    
    width: 100%;
}

.rectangulo {
    border: solid 3px; 
    border-color: var(--AC-Light-Purple); 
    position: absolute;
}