main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:100%;
    font-size: 1.5rem;
}

section:nth-child(1){
    display: flex;
    flex-direction: row;
    align-content: center;    
}



.button-flotante{
    color: var(--PC-Blue);
    position: absolute;
    z-index: 10;
    float: right;
    transform:translate(-100%,15%);
    padding: 0rem;
    margin:0rem;
    background-color: transparent;
}
.button-flotante img{
    background-color: var(--White);
}
.imagen-datos{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
}


.imagen-rectangulos{
    display: flex;
    position: relative;
}

img{    
    width: 100%;
}

.rectangulo {
    border: solid 3px; 
    border-color: #ba0b93; 
    position: absolute;
}

.datos-extra{
    flex-direction: column;
    height:30rem;
    width:20rem;
    padding: 1rem;
    padding-top: 0rem;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0rem;
}

.dato{
    width: 100%;
    margin-top: 1rem;
    background: var(--White);
    box-shadow: 2px 4px 18px rgba(32, 58, 97, 0.17);
    
    padding: 1rem;
    display: flex;
    justify-content: space-between
    
}
