:root {
    /*Colores primarios*/
    --PC-Blue: #0078d4;
    --PC-Purple: #5c2d91;
    /*Coleres de acento*/
    --AC-Light-Purple: #ba0b93;
    /*Colores neutrales*/
    --Black: #000;
    --White: #fff;
    --E-LightGray: #f2f2f2;
}